.honda-bg-info{
    background-color: #264653;
    
}

.button-color{
    background-color:#E76F51 ;
    color: white;
}

.img-size img{
    width:18rem;
}

.span-color{
    color: #E76F51;
}

  .gray{
    filter: grayscale(100%)
  }

  .regina{
    color: #23A6F0;
    font-size: 14px;
line-height: 24px;
}

.icon-color{
    color:#E76F51;
}