.honda-bg-info{
    background-color: #264653;
    
}

.button-color{
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #E76F51 100%);
}

.span-color{
    color: #E76F51;
}

.text-color{
    color: black;
}
  .gray{
    filter: grayscale(100%)
  }

  .regina{
    color: #23A6F0;
    font-size: 14px;
line-height: 24px;
}

.icon-color{
    color:#E76F51;
}