.honda-bg-info{
    background-color: #264653;
    
}

.color{
    color: #E76F51;
}

.img-size img{
    width:18rem;
}
.client{
    position: static;
    width: 149px;
    height: 149px;
    left: calc(50%-149px/2);
    top: 40px;
 }